.board {
  width: 100%;
  height: 100%;
  border: 1px solid black;
  display: grid;
  padding: 2% 25% 2% 25%;
  grid-template-columns: repeat(8, 12.5%);
  grid-template-rows: repeat(8, 12.5%);
  div {
    // border: 1px solid black;
    background-color: white;
  }
  div:nth-child(-n + 8):nth-child(even),
  div:nth-child(n + 8):nth-child(-n + 16):nth-child(odd),
  div:nth-child(n + 17):nth-child(-n + 24):nth-child(even),
  div:nth-child(n + 25):nth-child(-n + 32):nth-child(odd),
  div:nth-child(n + 33):nth-child(-n + 40):nth-child(even),
  div:nth-child(n + 41):nth-child(-n + 48):nth-child(odd),
  div:nth-child(n + 49):nth-child(-n + 56):nth-child(even),
  div:nth-child(n + 57):nth-child(-n + 64):nth-child(odd) {
    background-color: black;
  }

  div:hover {
    background-color: #c95f49;
  }

  div:nth-child(-n + 8):nth-child(even):hover,
  div:nth-child(n + 8):nth-child(-n + 16):nth-child(odd):hover,
  div:nth-child(n + 17):nth-child(-n + 24):nth-child(even):hover,
  div:nth-child(n + 25):nth-child(-n + 32):nth-child(odd):hover,
  div:nth-child(n + 33):nth-child(-n + 40):nth-child(even):hover,
  div:nth-child(n + 41):nth-child(-n + 48):nth-child(odd):hover,
  div:nth-child(n + 49):nth-child(-n + 56):nth-child(even):hover,
  div:nth-child(n + 57):nth-child(-n + 64):nth-child(odd):hover {
    background-color: #c95f49;
  }
}
